img {
  height: 200px;
  width: 200px;
  float: left;
}

/* Style the content */
.content {
  /*background-color: #f5fbf9;*/
  padding: 10px;
  height: 200px; /* Should be removed. Only for demonstration */
  margin: 20px;
}

.info {
  float: left;
  margin-left: 20px;
  clear: right;
}

b {
  color: #04AA6D;
}

.notice {
  display: block;
  padding:4px 2px;
  width: 100%;
  margin: 20px 0 20px 10px;
  float: left;
}

label{
  margin-right: 15px;
  line-height: 32px;
}

.selected-notice-group {
  margin: 20px 0px;
}

.selected-notice-button {
  margin: 10px
}

.font_el p{
  float: left;
  margin: 3px;
  padding-right: 10px;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;

  position: relative;
  top: 4px;
}

input:checked {
  border: 6px solid black;
}

button {
  background-color: #04AA6D;
  color: white;
  margin-left: 10px;
  padding: 5px 10px 5px 10px;
  border: none;
  cursor: pointer;
}
