<div>

  <div *ngIf="navbar && home_doctor">
    <app-navbar></app-navbar>
  </div>

  <div class="content" *ngIf="home_doctor; else Patient">
    <img src="../../../images/profile_image.png">
    <div class="info">
      <p><b>Ruolo:</b> ruolo </p>
      <p><b>Nome:</b> nome </p>
      <p><b>Cognome:</b> cognome </p>
      <p><b>e-mail:</b> email </p>
      <p><b>Data di nascita:</b> data nascita </p>
      <p><b>Codice fiscale:</b> cf </p>
    </div>

    <div class="avviso">
      <form>
        <div class="font_el">
          <p><b>Parametri di avviso:</b></p>
          <input type="radio" id="contactChoice1"
                 name="contact" value="email">
          <label for="contactChoice1">Email</label>

          <input type="radio" id="contactChoice2"
                 name="contact" value="sms">
          <label for="contactChoice2">Sms</label>

          <input type="radio" id="contactChoice3"
                 name="contact" value="telegram">
          <label for="contactChoice3">Telegram</label>

          <button><i class="fa fa-save"></i></button>
        </div>
      </form>
    </div>
  </div>

  <ng-template #Patient>
    <app-patient></app-patient>
  </ng-template>

</div>
