<div>

  <div *ngIf="navbar && home_doctor">
    <app-navbar></app-navbar>
  </div>

  <div class="content" *ngIf="home_doctor; else Patient">
    <img src="../../../images/profile_image.png">
    <div class="info">
      <p><b>Ruolo:</b> {{ doc.role }} </p>
      <p><b>Nome:</b> {{ user.name }} </p>
      <p><b>Cognome:</b> {{ user.surname }} </p>
      <p><b>e-mail:</b> {{ doc.mail }} </p>
      <p><b>Data di nascita:</b> {{ doc.dob | date: 'dd/MM/yyyy' }} </p>
      <p><b>Codice fiscale:</b> {{ user._id }} </p>
    </div>

    <div class="notice">
      <form>
        <div class="font_el">
          <label id="notice-label"><b>Parametri di avviso:</b></label>
          <mat-radio-group aria-labelledby="notice-label" class="selected-notice-group">
            <mat-radio-button class="selected-notice-button" *ngFor="let notice of noticeOptions" [value]="notice" (change)="changeNotice(notice)">
              {{ notice }}
            </mat-radio-button>
          </mat-radio-group>

          <button (click)="saveNotice()"><i class="fa fa-save"></i></button>
        </div>
      </form>
    </div>
  </div>

  <ng-template #Patient>
    <app-patient></app-patient>
  </ng-template>

</div>
