<div>
  <div>
    <app-navbar></app-navbar>
  </div>

  <!-- Page sensor of doctor -->
  <div *ngIf="page_doctor; else page_patient">

    <!-- Chart -->
    <div class="chart">
      <canvas baseChart [chartType]="'line'" [legend]="true" [datasets]="chartData" [options]="chartOptions">
      </canvas>
    </div>

    <div class="content">
      <mat-card>
        <div class="text">Valore corrente</div>
        <div class="value">{{last_values.data}} {{um}}</div>
      </mat-card>

      <mat-card>
        <div class="text">Valore medio</div>
        <div class="text">ultime {{N}} letture</div>
        <div class="value">{{mean_last_n.toFixed(2)}} {{um}}</div>
      </mat-card>

      <!-- Average value -->
      <div class="parentContainer">
        <form action="page-sensor.component.ts" method="post" class="last_n_value">
          <div class="container">
            <mat-form-field appearance="legacy">
              <mat-label>Valore medio ultime N letture</mat-label>
              <input matInput type="number" placeholder="Inserisci il numero di letture" name="last_n" [formControl]="last_n" required>
              <mat-error *ngIf="last_n.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <button mat-button type="button" class="button_last_n" (click)="last_n_data(last_n.value)">Calcola</button>
          </div>
        </form>
      </div>
    </div>

    <button class="inner" mat-button type="submit"(click)="undo()">Torna alla pagina del paziente</button>

  </div>

  <!-- Page sensor of patient -->
  <ng-template #page_patient>

    <!-- Chart -->
    <div class="chart">
      <canvas baseChart [chartType]="'line'" [legend]="true" [datasets]="charSingleData" [options]="chartOptions">
      </canvas>
    </div>

    <div class="content">
      <mat-card>
        <div class="text">Valore corrente</div>
        <div class="value">{{last_values.data}} {{um}}</div>
      </mat-card>

      <mat-card>
        <div class="text">Valore medio</div>
        <div class="text">ultime {{N}} letture</div>
        <div class="value">{{mean_last_n.toFixed(2)}} {{um}}</div>
      </mat-card>

      <!-- Average value -->
      <div class="parentContainer">
        <form action="page-sensor.component.ts" method="post" class="last_n_value">
          <div class="container">
            <mat-form-field appearance="legacy" class="form_last_n">
              <mat-label>Valore medio ultime N letture</mat-label>
              <input matInput type="number" placeholder="Inserisci il numero di letture" name="last_n" [formControl]="last_n" required>
              <mat-error *ngIf="last_n.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <button mat-button type="button" class="button_last_n" (click)="last_n_data(last_n.value)">Calcola</button>
          </div>
        </form>
      </div>
    </div>

    <button class="inner" mat-button type="submit"(click)="undo()">Torna alla pagina del paziente</button>

  </ng-template>

</div>
