.chart{
  height: 350px;
  width: 1000px;
  margin: 50px;
  float: left;
}

mat-card{
  background: #97e1c0;
  margin: 15px;
  padding: 20px;
  width: auto;
  height: auto;
  float: left;
}

.content{
  margin: 10px;
}

.text{
  color: black;
  font-size: 30px;
  height: 25px;
}

.value{
  color: black;
  font-weight: bold;
  font-size: 50px;
  height: 35px;
  text-align: center;
  padding-top: 20px;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 5px 10px 5px 10px;
  border: none;
  cursor: pointer;
  float: right;
}

.button_last_n {
  margin-left: 10px;
  margin-top: 10px;
}

.inner {
  margin-top: 80px;
  margin-right: 50px;
}

input {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  box-sizing: border-box;
}

.container {
  padding: 16px;
  display: table;
  width: 100%;
}

@media screen and (max-width: 270px) {
  span.last_n {
    display: block;
    float: none;
  }
}

.parentContainer{
  display: table-cell;
  vertical-align: middle;
  margin-bottom: 20px;
}

form {
  width: 270px;
  float: right;
}

.mat-form-field {
  display: block;
}
