<div>
  <div>
    <app-navbar></app-navbar>
  </div>

  <div *ngIf="page_doctor; else page_patient">

    <div class="chart">
      <canvas baseChart [chartType]="'line'" [legend]="true" [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions">
      </canvas>
    </div>

    <div class="content">
      <mat-card>
        <div class="text">Valore corrente</div>
        <div class="value">{{last_day[last_day.length-1]}}</div>
      </mat-card>
    </div>

    <button class="inner" mat-button type="submit"(click)="undo()">Torna alla pagina del paziente</button>

  </div>

  <ng-template #page_patient>

  </ng-template>


</div>
