<div>
  <div>
    <app-navbar></app-navbar>
  </div>

  <div class="grandParentContainer">
    <div class="parentContainer">
      <form action="mac-address.component.ts" method="post" id="mac_form"> <!--[formGroup]="angForm" novalidate-->

        <div class="container">
          <mat-form-field appearance="legacy">
            <mat-label>Indirizzo MAC</mat-label>
            <input matInput type="text" placeholder="Inserisci l'indirizzo MAC della board" name="mac" [formControl]="mac" required>
            <mat-error *ngIf="mac.hasError('required')"> Devi inserire il mac della board</mat-error>
            <mat-error *ngIf="mac.hasError('maxlength')">Devi inserire un MAC valido</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Pazienti</mat-label>
            <mat-select [formControl]="patientControl" required>
              <mat-option [value]="">--</mat-option>
              <mat-option *ngFor="let pat of pats" [value]="pat">
                {{pat._id}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="patientControl.hasError('required')">Inserisci un codice fiscale tra quelli presenti</mat-error>
          </mat-form-field>

          <button mat-button type="button" (click)=insert()>Inserisci</button>

        </div>

      </form>
    </div>
  </div>
</div>
