form {
  border: 3px solid #f1f1f1;
  width: 600px;
}


input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  /*border: 1px solid #ccc;*/
  box-sizing: border-box;
}


button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}


button:hover {
  opacity: 0.8;
}


.cancelbtn {
  width: auto;
  padding: 10px 18px;
  /*background-color: #f44336;*/
}

.container {
  padding: 16px;
}

span.mac {
  padding-top: 16px;
}


@media screen and (max-width: 600px) {
  span.mac {
    display: block;
    float: none;
  }
}

container{
  display: table;
  width: 100%;
}

#mac_form{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.grandParentContainer{
  display: table;
  height: 100%;
  margin: 0 auto;
}

.parentContainer{
  display: table-cell;
  vertical-align: middle;
}

.mat-form-field{
  display: block;
}
