<div>
  <div>
    <app-navbar></app-navbar>
  </div>

  <div class="grandParentContainer" *ngIf="modify_doctor; else Patient">
    <h1><b>Modifica Dottore</b></h1>
    <div class="parentContainer">
      <form action="modify-form.component.ts" method="post" id="modify_form"> <!--[formGroup]="angForm" novalidate-->

        <div class="container">
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput type="text" placeholder="" name="username" [formControl]="username" required>
            <mat-error *ngIf="username.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Nome</mat-label>
            <input matInput type="text" placeholder="" name="name" [formControl]="name" required>
            <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Cognome</mat-label>
            <input matInput type="text" placeholder="" name="surname" [formControl]="surname" required>
            <mat-error *ngIf="surname.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>e-mail</mat-label>
            <input matInput type="email" placeholder="" name="mail" [formControl]="mail" required>
            <mat-error *ngIf="mail.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Data di nascita</mat-label>
            <input matInput type="date" placeholder="" name="dob" [formControl]="dob" required>
            <mat-error *ngIf="dob.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Codice fiscale</mat-label>
            <input matInput type="text" placeholder="" name="tc" [formControl]="tc" readonly>
            <mat-error *ngIf="tc.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Ruolo</mat-label>
            <input matInput type="text" placeholder="" name="role" [formControl]="role" required>
            <mat-error *ngIf="role.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Numero di Telefono</mat-label>
            <input matInput type="text" placeholder="" name="phone" [formControl]="phone" required>
            <mat-error *ngIf="phone.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>

          <button mat-button type="submit" (click)="save()">Salva</button>
        </div>

      </form>
    </div>
  </div>

  <!--pat: Patient = {_id: '', dob: Date.prototype, mail: '', phone: '', dor: Date.prototype, address: ''};-->

  <ng-template #Patient>
    <div class="grandParentContainer" *ngIf="modify_patient; else Sensor">
      <h1><b>Modifica Paziente</b></h1>
      <div class="parentContainer">
        <form action="modify-form.component.ts" method="post" id="modify_form_patient"> <!--[formGroup]="angForm" novalidate-->

          <div class="container">
            <mat-form-field>
              <mat-label>Username</mat-label>
              <input matInput type="text" placeholder="" name="username" [formControl]="username" required>
              <mat-error *ngIf="username.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Nome</mat-label>
              <input matInput type="text" placeholder="" name="name" [formControl]="name" required>
              <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Cognome</mat-label>
              <input matInput type="text" placeholder="" name="surname" [formControl]="surname" required>
              <mat-error *ngIf="surname.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>e-mail</mat-label>
              <input matInput type="email" placeholder="" name="mail" [formControl]="mail" required>
              <mat-error *ngIf="mail.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Data di nascita</mat-label>
              <input matInput type="date" placeholder="" name="dob" [formControl]="dob" required>
              <mat-error *ngIf="dob.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Codice fiscale</mat-label>
              <input matInput type="text" placeholder="" name="tc" [formControl]="tc" readonly>
              <mat-error *ngIf="tc.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <div *ngIf="user.type == 'ADMIN'">
              <mat-form-field>
                <mat-label>Dottore</mat-label>
                <input matInput type="text" placeholder="" name="doctor" [formControl]="doctor" required>
                <mat-error *ngIf="doctor.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
            </div>

            <mat-form-field>
              <mat-label>Recapito telefonico</mat-label>
              <input matInput type="text" placeholder="" name="phone" [formControl]="phone" required>
              <mat-error *ngIf="phone.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Data di ricovero</mat-label>
              <input matInput type="date" placeholder="" name="dor" [formControl]="dor" required>
              <mat-error *ngIf="dor.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Indirizzo</mat-label>
              <input matInput type="text" placeholder="" name="address" [formControl]="address" required>
              <mat-error *ngIf="address.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Descrizione</mat-label>
              <input matInput type="text" placeholder="" name="description" [formControl]="description" required>
              <mat-error *ngIf="description.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <button mat-button (click)="save()">Salva</button>
          </div>

        </form>
      </div>
    </div>
  </ng-template>

  <ng-template #Sensor>
    <div class="grandParentContainer" *ngIf="modify_sensor; else modifySensorDoctor">
      <h1><b>Modifica Sensore</b></h1>
      <div class="parentContainer">
        <form action="modify-form.component.ts" method="post" id="modify_form_sensor"> <!--[formGroup]="angForm" novalidate-->

          <div class="container">

            <mat-form-field>
              <mat-label>Nome</mat-label>
              <input matInput type="text" placeholder="" name="name" [formControl]="name_sensor" required>
              <mat-error *ngIf="name_sensor.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Unità di misura</mat-label>
              <input matInput type="text" placeholder="" name="um" [formControl]="um" required>
              <mat-error *ngIf="um.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Soglia sensore</mat-label>
              <input matInput type="text" placeholder="" name="thr" [formControl]="thr" readonly>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Tipo sensore</mat-label>
              <input matInput type="text" placeholder="" name="typeSensor" [formControl]="typeSensor" readonly>
            </mat-form-field>

            <button mat-button (click)="save()">Salva</button>
          </div>

        </form>
      </div>
    </div>
  </ng-template>

  <ng-template #modifySensorDoctor>
    <div class="grandParentContainer" *ngIf="modify_sensor_doctor">
      <h1><b>Modifica Sensore</b></h1>
      <div class="parentContainer">
        <form action="modify-form.component.ts" method="post" id="modify_form_sensor_doctor"> <!--[formGroup]="angForm" novalidate-->

          <div class="container">

            <mat-form-field>
              <mat-label>Nome</mat-label>
              <input matInput type="text" placeholder="" name="name" [formControl]="name_sensor" readonly>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Unità di misura</mat-label>
              <input matInput type="text" placeholder="" name="um" [formControl]="um" readonly>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Soglia sensore</mat-label>
              <input matInput type="text" placeholder="" name="thr" [formControl]="thr" required>
              <mat-error *ngIf="thr.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Tipo sensore</mat-label>
              <input matInput type="text" placeholder="" name="typeSensor" [formControl]="typeSensor" readonly>
            </mat-form-field>

            <button mat-button (click)="save()">Salva</button>
          </div>

        </form>
      </div>
    </div>
  </ng-template>

</div>
