<div>

  <div *ngIf="(navbar && page_patient) || (page_info && navbar) || (page_admin && navbar)">
    <app-navbar></app-navbar>
  </div>

  <div class="content" *ngIf="page_patient; else page_info_patient">
    <h1><b>Paziente:</b> {{ pat._id }} </h1>
    <div class="info">
      <p><b>Nome:</b> {{ user.name }} </p>
      <p><b>Cognome:</b> {{ user.surname }} </p>
      <p><b>e-mail:</b> {{ pat.mail }} </p>
      <p><b>Data di nascita:</b> {{ pat.dob | date: 'dd/MM/yyyy' }} </p>
      <p><b>Codice fiscale:</b> {{ user._id }} </p>
      <p><b>Indirizzo:</b> {{ pat.address }} </p>
      <p><b>Data ricovero:</b> {{ pat.dor | date: 'dd/MM/yyyy' }} </p>
      <p><b>Recapito telefonico:</b> {{ pat.phone }} </p>
      <p><b>Descrizione:</b> {{ pat.description }} </p>
    </div>
  </div>

  <ng-template #page_info_patient>
    <div class="content" *ngIf="page_info; else Admin">
      <h1><b>Paziente:</b> {{ pat._id }} </h1>
      <div class="info">
        <p><b>Nome:</b> {{ clickedRow.name }} </p>
        <p><b>Cognome:</b> {{ clickedRow.surname }} </p>
        <p><b>e-mail:</b> {{ pat.mail }} </p>
        <p><b>Data di nascita:</b> {{ pat.dob | date: 'dd/MM/yyyy' }} </p>
        <p><b>Codice fiscale:</b> {{ clickedRow._id }} </p>
        <p><b>Indirizzo:</b> {{ pat.address }} </p>
        <p><b>Data ricovero:</b> {{ pat.dor | date: 'dd/MM/yyyy' }} </p>
        <p><b>Recapito telefonico:</b> {{ pat.phone }} </p>
        <p><b>Descrizione:</b> {{ pat.description }} </p>
      </div>


      <div class="outer">
        <button class="inner" mat-button type="submit" (click)=modify()>Modifica paziente</button>
        <button class="inner" mat-button type="submit" (click)="add_sensor()">Aggiungi sensore</button>
        <button class="inner" mat-button type="submit" (click)="openDialog()">Elimina paziente</button>
      </div>


        <h1><b>Sensori Paziente</b></h1>
        <div *ngFor="let sensor of patBoardSensors; let i = index" class="card-content">
          <mat-card>
            <div class="sensor">
                <div class="sensor-name">ID sensore: {{sensor.type}}</div>
                <div class="last-value">Valore: {{patBoardData.Items[patBoardData.Items.length -1].device_data.data[i].data}}</div>
                <button mat-button class="visualize-sensor" (click)=visualize(i)>Visualizza</button>
            </div>
          </mat-card>
        </div>




    </div>
  </ng-template>

  <ng-template #Admin>
    <div class="content" *ngIf="page_admin">
      <h1><b>Admin:</b> {{ user._id }} </h1>
      <div class="info">
        <p><b>Nome:</b> {{ user.name }} </p>
        <p><b>Cognome:</b> {{ user.surname }} </p>
      </div>
    </div>
  </ng-template>

</div>

