.content {
  /*background-color: #f5fbf9;*/
  padding: 10px;
  margin: 20px;
}

.info {
  margin-left: 20px;
  padding-bottom: 20px;
  clear: right;
}

b {
  color: #04AA6D;
}

button {
  background-color: #04AA6D;
  color: white;
  margin: 0px;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border: none;
  cursor: pointer;
}

.outer {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  margin: auto;
}

h1 {
  margin-top: 40px;
}

.card-content{
  display: table-cell;
}

mat-card{
  background: #97e1c0;
  margin: 15px;
  padding: 0px;
  width: fit-content;
  height: auto;
}

.sensor {
  /*display: flex;
  flex-direction: row;*/
  margin: 30px 0px 15px 0px;
  padding: 20px;
  text-align: center;
}

/*
.sensor {
  border-radius: 5px;
  margin: 30px 0px 15px 0px;
  padding: 20px;
  text-align: center;
  height: 100px;
  background: #97e1c0;
  box-shadow: 10px 10px 5px #4f7364;
}
*/

.sensor-name, .last-value {
  border-radius: 5px;
  margin-right: 50px;
  line-height: 36px;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  /*background-color: #04AA6D;*/
  color: black;
  float: left;
  border: none;
  width: 100px;
}
/*

button {
  float: right;
  background-color: #04AA6D;
  color: white;
  margin: 2% 2% 2% 2%;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border: none;
  cursor: pointer;
}
*/

