<div>

  <div *ngIf="navbar && page_patient">
    <app-navbar></app-navbar>
  </div>

  <div class="content">
    <h1><b>Paziente:</b> cf</h1>
    <div class="info">
      <p><b>Nome:</b> nome </p>
      <p><b>Cognome:</b> cognome </p>
      <p><b>e-mail:</b> email </p>
      <p><b>Data di nascita:</b> data nascita </p>
      <p><b>Codice fiscale:</b> cf </p>
      <p><b>Indirizzo:</b> indirizzo </p>
      <p><b>Data ricovero:</b> data </p>
      <p><b>Recapito telefonico:</b> num </p>
    </div>
  </div>

</div>

