.content {
  /*background-color: #f5fbf9;*/
  padding: 10px;
  height: 200px; /* Should be removed. Only for demonstration */
  margin: 20px;
}

.info {
  margin-left: 20px;
  padding-bottom: 20px;
  clear: right;
}

b {
  color: #04AA6D;
}

button {
  background-color: #04AA6D;
  color: white;
  margin: 0px;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border: none;
  cursor: pointer;
}

.outer {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  margin: auto;
}

h1 {
  margin-top: 40px;
}


.sensor {
  border-radius: 5px;
  /*border: 0px solid #04AA6D;*/
  margin: 30px 0px 15px 0px;
  padding: 20px;
  text-align: center;
  height: 100px;
  background: #97e1c0;
  box-shadow: 10px 10px 5px #4f7364;
}

.sensor-name, .last-value {
  /*width: 15%;*/
  border-radius: 5px;
  /*border: 2px solid black;*/
  margin: 2% 35% 2% 2%;
  padding: 15px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #04AA6D;
  color: white;
  float: left;
  border: none;
  cursor: pointer;
}


button {
  float: right;
  background-color: #04AA6D;
  color: white;
  margin: 2% 2% 2% 2%;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border: none;
  cursor: pointer;
}

