.pats_table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #c0e6d8;
}

* {
  box-sizing: border-box;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.row-is-clicked:focus {
  font-weight: bold;
  outline: none;
}

/* Style the search field */
form.search input[type=text] {
  padding: 10px;
  font-size: 14px;
  /*border: 1px solid grey;*/
  float: left;
  width: 79%;
  font-family: Poppins;
  /*background: #f1f1f1;*/
}

form.search input:focus{
  outline: none !important;
  border-color: #415b4a;
  box-shadow: 0 0 10px #415b4a;
}

/* Style the submit button */
form.search button {
  float: left;
  width: 20%;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 1%;
  /*background: #04AA6D;
  color: white;*/
  font-size: 17px;
  /*border: 1px solid grey;*/
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.search button:hover {
  /*background: #037a4e;*/
}

/* Clear floats */
form.search::after {
  content: "";
  clear: both;
  display: table;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  height: 25px;
  width: 25px;

}

/* Style the content */
.content {
  /*background-color: #f5fbf9;*/
  padding: 10px;
  height: 100%; /* Should be removed. Only for demonstration */
}

button {
  background-color: #04AA6D;
  color: white;
  margin: 0px;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border: none;
  cursor: pointer;
}

.outer {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  margin: auto;
}
