<div>
  <!-- Navbar -->
  <div *ngIf="(navbar && home_doctor) || (navbar && home_admin)">
    <app-navbar></app-navbar>
  </div>

  <!-- Home page doctor -->
  <div class="content" *ngIf="home_doctor; else Info">
    <!-- The form -->
    <form class="search" action="home.component.ts" >
      <input type="text" placeholder="Search..." name="search" [formControl]="searchString">
      <button mat-button (click)="searchPatient()"><i class="fa fa-search"></i></button>
    </form>

    <table mat-table [dataSource]="pats" class="mat-elevation-z8 pats_table" style="overflow-x: auto;">
      <!-- Tax Code -->
      <ng-container matColumnDef="_id">
        <th mat-header-cell *matHeaderCellDef>Codice Fiscale</th>
        <td mat-cell *matCellDef="let element">{{ element._id }}</td>
      </ng-container>

      <!-- Name -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- Surname -->
      <ng-container matColumnDef="surname">
        <th mat-header-cell *matHeaderCellDef>Cognome</th>
        <td mat-cell *matCellDef="let element">{{ element.surname }}</td>
      </ng-container>

      <!-- Description -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Descrizione</th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsDesc"></tr>
      <tr
        mat-row
        (click)="selectedUser(row)"
        class="row-is-clicked" tabindex="1"
        *matRowDef="let row; columns: displayedColumnsDesc;"
      ></tr>
    </table>

    <div class="outer">
      <button class="inner" mat-button type="submit" (click)=visualize()>Visualizza</button>
      <button class="inner" mat-button type="submit" (click)="add()">Aggiungi paziente</button>
    </div>

  </div>

  <!-- Home page patient -->
  <ng-template #Info>
    <app-page-info *ngIf="page_info; else Admin"></app-page-info>
  </ng-template>

  <!-- Home page admin -->
  <ng-template #Admin>

    <div class="outer">
      <button class="inner" mat-button type="submit" (click)="insert_mac()"> Inserisci indirizzo MAC della board</button> <!--(click)=getLogin()-->
    </div>

    <mat-tab-group mat-align-tabs="start" [selectedIndex]="selected.value"
                   (selectedIndexChange)="selected.setValue($event)">
      <mat-tab label="Dottori">
        <div class="content">
          <form class="search" action="home.component.ts" >
            <input type="text" placeholder="Cerca..." name="search" [formControl]="searchString">
            <button mat-button (click)="searchAllDoctor()"><i class="fa fa-search"></i></button>
          </form>

          <table mat-table [dataSource]="docs" class="mat-elevation-z8 pats_table" style="overflow-x: auto;">
            <!-- Tax Code -->
            <ng-container matColumnDef="_id">
              <th mat-header-cell *matHeaderCellDef>Codice Fiscale</th>
              <td mat-cell *matCellDef="let element">{{ element._id }}</td>
            </ng-container>

            <!-- Name -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Nome</th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <!-- Surname -->
            <ng-container matColumnDef="surname">
              <th mat-header-cell *matHeaderCellDef>Cognome</th>
              <td mat-cell *matCellDef="let element">{{ element.surname }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
              mat-row
              (click)="selectedUser(row)"
              class="row-is-clicked" tabindex="1"
              *matRowDef="let row; columns: displayedColumns;"
            ></tr>
          </table>

          <div class="outer">
            <button class="inner" mat-button type="submit" (click)=modify()>Modifica dottore</button> <!--(click)=getLogin()-->
            <button class="inner" mat-button type="submit" (click)="add()">Aggiungi dottore</button> <!--(click)=getLogin()-->
            <button class="inner" mat-button type="submit" (click)="delete()">Elimina dottore</button> <!--(click)=getLogin()-->
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Pazienti">
        <div class="content">
          <form class="search" action="home.component.ts">
            <input type="text" placeholder="Cerca..." name="search" [formControl]="searchString">
            <button mat-button (click)="searchAllPatient()"><i class="fa fa-search"></i></button>
          </form>

          <table mat-table [dataSource]="pats" class="mat-elevation-z8 pats_table" style="overflow-x: auto;">
            <!-- Tax Code -->
            <ng-container matColumnDef="_id">
              <th mat-header-cell *matHeaderCellDef>Codice Fiscale</th>
              <td mat-cell *matCellDef="let element">{{ element._id }}</td>
            </ng-container>

            <!-- Name -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Nome</th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <!-- Surname -->
            <ng-container matColumnDef="surname">
              <th mat-header-cell *matHeaderCellDef>Cognome</th>
              <td mat-cell *matCellDef="let element">{{ element.surname }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
              mat-row
              (click)="selectedUser(row)"
              class="row-is-clicked" tabindex="1"
              *matRowDef="let row; columns: displayedColumns;"
            ></tr>
          </table>

          <div class="outer">
            <button class="inner" mat-button type="submit" (click)=modify()>Modifica paziente</button> <!--(click)=getLogin()-->
            <button class="inner" mat-button type="submit" (click)="add()">Aggiungi paziente</button> <!--(click)=getLogin()-->
            <button class="inner" mat-button type="submit" (click)="delete()">Elimina paziente</button> <!--(click)=getLogin()-->
          </div>

        </div>
      </mat-tab>
      <mat-tab label="Sensori">
        <div class="content">
          <form class="search" action="home.component.ts">
            <input type="text" placeholder="Cerca per nome..." name="search" [formControl]="searchString">
            <button mat-button type="submit" (click)="searchAllSensor()"><i class="fa fa-search"></i></button>
          </form>

          <table mat-table [dataSource]="sens" class="mat-elevation-z8 pats_table" style="overflow-x: auto;">
            <!-- Sensor ID -->
            <ng-container matColumnDef="_id">
              <th mat-header-cell *matHeaderCellDef>Tipo Sensore</th>
              <td mat-cell *matCellDef="let element">{{ element.type }}</td>
            </ng-container>

            <!-- Name -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Nome</th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <!-- Unit -->
            <ng-container matColumnDef="um">
              <th mat-header-cell *matHeaderCellDef>Unità di misura</th>
              <td mat-cell *matCellDef="let element">{{ element.um }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsSensor"></tr>
            <tr
              mat-row
              (click)="selectedSensor(row)"
              class="row-is-clicked" tabindex="1"
              *matRowDef="let row; columns: displayedColumnsSensor;"
            ></tr>
          </table>


          <div class="outer">
            <button class="inner" mat-button type="submit"(click)="modify_sensor()">Modifica sensore</button>
            <button class="inner" mat-button type="submit"(click)="add_sensor()">Aggiungi sensore</button>
            <button class="inner" mat-button type="submit" (click)="delete()">Elimina sensore</button>
          </div>

        </div>

      </mat-tab>
    </mat-tab-group>
  </ng-template>

</div>
