<div>
  <div class="topnav">
    <a href="#"> Nome Cognome <img src="src/app/home/profile_image.png"> </a>
  </div>

  <div class="content">
    <!-- Load icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- The form -->
    <form class="search" action="home.component.ts">
      <input type="text" placeholder="Search.." name="search">
      <button mat-button type="submit"><i class="fa fa-search"></i></button>
    </form>

    <div class="table" style="overflow-x:auto;">
      <table>
        <tr>
          <th>Codice fiscale</th>
          <th>Nome</th>
          <th>Cognome</th>
        </tr>
        <tr>
          <th>cf1</th>
          <th>nome1</th>
          <th>cognome1</th>
        </tr>
      </table>
    </div>

    <div class="outer">
      <button class="inner" mat-button type="submit">Visualizza</button> <!--(click)=getLogin()-->
      <button class="inner" mat-button type="submit">Aggiungi paziente</button> <!--(click)=getLogin()-->
    </div>


  </div>

</div>
