.icon_error{
  color: #c30626;
}

.icon_modify{
  color: #0d9604;
}

.icon_warning{
  color: #d5a61b;
}

.icon_save{
  color: #0d9604;
}

mat-icon{
  float: left;
  padding: 20px;
}

p{
  display: flex;
}

form {
  /*border: 3px solid #f1f1f1;*/
  width: 500px;
}

input {
  width: 100%;
  padding: 12px 20px;
  /*margin: 8px 0;*/
  display: inline-block;
  /*border: 1px solid #ccc;*/
  box-sizing: border-box;
}

.mat-form-field {
  display: block;
}

.button_mail {
  background-color: #04AA6D;
  color: white;
  padding: 7px 14px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  /*background-color: #f44336;*/
}

span.psw {
  padding-top: 16px;
}


@media screen and (max-width: 500px) {
  span.psw {
    display: block;
    float: none;
  }
}

.container{
  padding: 16px;
  display: table;
  width: 100%;
}

#add_form_doctor, #add_form_patient{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.grandParentContainer{
  /*height: 100%;
  margin: 0 auto;*/
  padding: 10px;
  margin: 20px;
}

.parentContainer{
  display: table-cell;
  vertical-align: middle;
  margin-bottom: 20px;
}
