<!-- Delete dialog -->
<div *ngIf="data.flag == 1; else save">
  <div *ngIf="data.res == 1; else thenBlock">
    <mat-icon class="icon_warning">warning</mat-icon>
    <p>Vuoi eliminare definitivamente il dottore?</p>
  </div>

  <ng-template #thenBlock>
    <div *ngIf="data.res == 2; else elseBlock">
      <mat-icon class="icon_warning">warning</mat-icon>
      <p>Vuoi eliminare definitivamente il paziente?</p>
    </div>
  </ng-template>

  <ng-template #elseBlock>
    <mat-icon class="icon_warning">warning</mat-icon>
    <p>Vuoi eliminare definitivamente il sensore?</p>
  </ng-template>

  <div mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()" [mat-dialog-close]="false">No</button>
    <button mat-button [mat-dialog-close]="true">Si</button>
  </div>
</div>

<!-- Save dialog -->
<ng-template #save>
  <div *ngIf="data.flag == 2; else modify">
    <div *ngIf="data.res == 1; else thenBlock">
      <mat-icon class="icon_save">save</mat-icon>
      <p>La modifica del dottore è stata salvata con successo</p>
    </div>

    <ng-template #thenBlock>
      <div *ngIf="data.res == 2; else elseBlock1">
        <mat-icon class="icon_save">save</mat-icon>
        <p>La modifica del paziente è stata salvata con successo</p>
      </div>
    </ng-template>

    <ng-template #elseBlock1>
      <div *ngIf="data.res == 3; else elseBlock2">
        <mat-icon class="icon_save">save</mat-icon>
        <p>La modifica del sensore è stata salvata con successo</p>
        </div>
    </ng-template>

    <ng-template #elseBlock2>
      <mat-icon class="icon_save">save</mat-icon>
      <p>La modifica di avviso è stata salvata con successo</p>
    </ng-template>

    <div mat-dialog-actions align="end">
      <button mat-button [mat-dialog-close]="true">OK</button>
    </div>
  </div>
</ng-template>

<!-- Modified dialog -->
<ng-template #modify>
  <div *ngIf="data.flag == 3; else login">
    <div *ngIf="data.res == 1; else thenBlock">
      <mat-icon class="icon_modify">check</mat-icon>
      <p>L'aggiunta del dottore è stata effettuata con successo</p>
    </div>

    <ng-template #thenBlock>
      <div *ngIf="data.res == 2; else elseBlock">
        <mat-icon class="icon_modify">check</mat-icon>
        <p>L'aggiunta del paziente è stata effettuata con successo</p>
      </div>
    </ng-template>

    <ng-template #elseBlock>
      <div *ngIf="data.res == 3; else else2Block">
        <mat-icon class="icon_modify">check</mat-icon>
        <p>L'aggiunta del sensore è stata effettuata con successo</p>
      </div>
    </ng-template>

    <ng-template #else2Block>
      <mat-icon class="icon_modify">check</mat-icon>
      <p>L'aggiunta del sensore al paziente è stata effettuata con successo</p>
    </ng-template>

    <div mat-dialog-actions align="end">
      <button mat-button [mat-dialog-close]="true">OK</button>
    </div>
  </div>
</ng-template>

<!-- Login dialog -->
<ng-template #login>
  <div *ngIf="data.flag == 4; else mac_address">
    <div>
      <mat-icon class="icon_error">error</mat-icon>
      <p>Nome utente o password errati. Inseriscili nuovamente.</p>
    </div>

    <div mat-dialog-actions align="end">
      <button mat-button [mat-dialog-close]="true">OK</button>
    </div>
  </div>
</ng-template>

<!-- MAC dialog -->
<ng-template #mac_address>
  <div *ngIf="data.flag == 5; else empty_field">
    <mat-icon class="icon_save">check_circle</mat-icon>
    <p>L'indirizzo MAC è stato inserito con successo.</p>
  </div>

</ng-template>

<!-- Empty field dialog -->
<ng-template #empty_field>
  <div *ngIf="data.flag == 6; else no_patient">
    <mat-icon class="icon_error">error</mat-icon>
    <p>Inserisci tutti i campi!</p>
  </div>

</ng-template>

<!-- Empty field dialog -->
<ng-template #no_patient>
  <div *ngIf="data.flag == 7; else no_selected">
    <mat-icon class="icon_error">error</mat-icon>
    <p>Non hai compilato tutti i campi!</p>
  </div>

</ng-template>

<!-- No selected row dialog -->
<ng-template #no_selected>
  <div>
    <mat-icon class="icon_error">error</mat-icon>
    <p>Non hai selezionato nessuna riga!</p>
  </div>

</ng-template>
