<div class="grandParentContainer">
  <div class="parentContainer">
    <form action="login-form.component.ts" method="post" id="login_form"> <!--[formGroup]="angForm" novalidate-->


      <div class="container">
        <mat-form-field appearance="legacy">
          <mat-label>Username</mat-label>
          <input matInput type="text" placeholder="Enter Username" name="username" [formControl]="username" required>
        </mat-form-field>

        <mat-form-field appearance="legacy">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Enter Password" name="psw" [formControl]="password" required>
        </mat-form-field>

        <button mat-button type="submit" (click)=login()>Login</button>
      </div>

      <div class="container" style="background-color:#f1f1f1">
        <span class="psw">Recupera <a [routerLink]="" (click)="recoveryPassword()">password</a></span>
      </div>

    </form>
  </div>
</div>
