<div class="grandParentContainer">
  <div class="parentContainer">
    <form action="login-form.component.ts" method="post" id="login_form"> <!--[formGroup]="angForm" novalidate-->

      <div class="container">
        <mat-form-field>
          <label>Username</label>
          <input matInput type="text" placeholder="Enter Username" name="username" required>
        </mat-form-field>

        <mat-form-field>
          <label><b>Password</b></label>
          <input matInput type="password" placeholder="Enter Password" name="psw" required>
        </mat-form-field>

        <button mat-button type="submit">Login</button> <!--(click)=getLogin()-->
      </div>

      <div class="container" style="background-color:#f1f1f1">
        <span class="psw">Recupera <a href="#">password</a></span>
      </div>

    </form>
  </div>
</div>
