mat-toolbar {
  overflow: hidden;
  background-color: #333;
  color: #04AA6D;
}

/* Style the topnav links */
.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  color: #20b968;
}

.topnav img {
  height: 25px;
  width: 25px;
}

.example-spacer {
  flex: 1 1 auto;
}
